@charset "utf-8";
/* CSS Document */

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #92B1CD;
    color: #000000;
    cursor: pointer;
    padding: 6px;
    width: 95%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
 .active, .collapsible:hover {
    background-color: #7B9FC0;
    color: #000000;
}

/* Style the collapsible content. Note: hidden by default */
.collapsible_content {
/*    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #FFFFFF;*/
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}